*.asm
*.cdf
*.done
*.fit
*.smsg
*.summary
*.flow
*.jdi
*.map
*.pin
*.sld
*.sta
*.bak
*.vstf
*.rpt
*.wlf
*.qws
*.qdb
*.qpg
*.qtl
*.qarlog

*.wdf
*.wpc
*.xml
*.rst
*.pb
*.log
*.rpx
*.dcp
*.jou
*.prm
*.vdi
*.html
*.backup
*.sof
c5_pin_model_dump.txt

prj/quartus/db
prj/quartus/incremental_db
scripts/work

